/*################# Temp style !!! Delete it form here to ...  #################*/
body {
	background: #f3f3f3;
	margin: 20px auto;
	width: 70%;
}

.wr-wrapper {
	background: #fff;
	margin-bottom: 30px;
	padding: 20px;
	// min-height: 430px;
	// width: 3000px;
}

/*###################### ... here !!! Delete #################*/